footer
  margin 2em 20em
  text-align right
  clear both
  max-width 600px
  min-width 425px
  margin-left 1em

  +below(4)
    margin 0 2em 0 20em

  
  [href*="github"]
    mixIcon($icon-github-alt)
    margin-left 10px
  [href*="linkedin"]
    mixIcon($icon-linkedin-sign)
    margin-left 10px