footer.clear
  p.legal
    | Copyright &copy; 2013 <a href="http://www.banquito.com.ar/">Banquito</a> 
    br
    | Licensed under the <a href="http://opensource.org/licenses/MIT">MIT license</a>.

.github-fork-ribbon-wrapper.right
  .github-fork-ribbon
    a(href="https://github.com/banquito/naranju") Fork me on GitHub
