@import '_github'

body
  +below(2)
    background: $linkColor
    a
      color: #fff

.wrapper, .footer
  center()
  padding: 20px

.wrapper
  h1
    font-weight: bold
    text-transform: uppercase
  h1, h2, h3, p
    +below(2)
      color: #fff  
  p
    font-size: 14px
    clear: left
