@import '_github'
  
.wrapper, .footer
  @extend .grid__col
  padding: 20px
  box-sizing: border-box
  h1
    font-weight: bold
    text-transform: uppercase
  h1, h2, h3, p
    +below(2)
      color: #000
  p
    font-size: 14px
