// 01 core

.font-size8  
  font-size 0.8rem
.font-size9  
  font-size 0.9rem
.font-size10 
  font-size 1rem 
.font-size12 
  font-size 1.2rem
.font-size14 
  font-size 1.4rem
.font-size16 
  font-size 1.6rem
.font-size18 
  font-size 1.8rem
.font-size20 
  font-size 2rem
.font-size22 
  font-size 2.2rem
.font-size26 
  font-size 2.6rem
.font-size32 
  font-size 3.2rem

.text-color
  color $textColor
.title-color
  color $titleColor
.title-font
  font-family $titleFont

  // layout
.clear 
  clear both
.row
  row()
.span1  
  column(1/12)
.span2  
  column(2/12)
.span3  
  column(3/12)
.span4  
  column(4/12)
.span5  
  column(5/12)
.span6  
  column(6/12)
.span7  
  column(7/12)
.span8  
  column(8/12)
.span9  
  column(9/12)
.span10 
  column(10/12)
.span11 
  column(11/12)
.span12 
  column(12/12)
.push1  
  shift(1/12)
.push2  
  shift(2/12)
.push3  
  shift(3/12)
.push4  
  shift(4/12)
.push5  
  shift(5/12)
.push6  
  shift(6/12)
.push7  
  shift(7/12)
.push8  
  shift(8/12)
.push9  
  shift(9/12)
.push10 
  shift(10/12)
.push11 
  shift(11/12)
.push12 
  shift(12/12)
.pull1  
  shift(-1/12)
.pull2  
  shift(-2/12)
.pull3  
  shift(-3/12)
.pull4  
  shift(-4/12)
.pull5  
  shift(-5/12)
.pull6  
  shift(-6/12)
.pull7  
  shift(-7/12)
.pull8  
  shift(-8/12)
.pull9  
  shift(-9/12)
.pull10 
  shift(-10/12)
.pull11 
  shift(-11/12)
.pull12 
  shift(-12/12)