// 01 core

.font-size8  
  font-size 0.8rem
.font-size9  
  font-size 0.9rem
.font-size10 
  font-size 1rem 
.font-size12 
  font-size 1.2rem
.font-size14 
  font-size 1.4rem
.font-size16 
  font-size 1.6rem
.font-size18 
  font-size 1.8rem
.font-size20 
  font-size 2rem
.font-size22 
  font-size 2.2rem
.font-size26 
  font-size 2.6rem
.font-size32 
  font-size 3.2rem

.text-color
  color $textColor
.title-color
  color $titleColor
.title-font
  font-family $titleFont

  // layout
.clear 
  clear both
.row
  row()
.span1  
  column(1)
.span2  
  column(2)
.span3  
  column(3)
.span4  
  column(4)
.span5  
  column(5)
.span6  
  column(6)
.span7  
  column(7)
.span8  
  column(8)
.span9  
  column(9)
.span10 
  column(10)
.span11 
  column(11)
.span12 
  column(12)
.push1  
  push(1)
.push2  
  push(2)
.push3  
  push(3)
.push4  
  push(4)
.push5  
  push(5)
.push6  
  push(6)
.push7  
  push(7)
.push8  
  push(8)
.push9  
  push(9)
.push10 
  push(10)
.push11 
  push(11)
.push12 
  push(12)
.pull1  
  pull(1)
.pull2  
  pull(2)
.pull3  
  pull(3)
.pull4  
  pull(4)
.pull5  
  pull(5)
.pull6  
  pull(6)
.pull7  
  pull(7)
.pull8  
  pull(8)
.pull9  
  pull(9)
.pull10 
  pull(10)
.pull11 
  pull(11)
.pull12 
  pull(12)