/* form */
label
  label()

input[type='text'],
input[type='password'],
input[type='email'],
input[type="number"]
  input()

textarea
  textarea()

input[type=radio]
  radio()
input[type=checkbox]
  checkbox()

select
  select()

table
  table()

button
  button()