// 03components
form.hform
  horizontal_form()

form.vform
  vertical_form()

.user-box  
  user_box()

.search-form 
  search_form()

.alert-box
  &[class*="error"]
    alertBox($errorColor)
  &[class*="success"]
    alertBox($successColor)
  &[class*="warning"]
    alertBox($warningColor)
  &[class*="notice"]
    alertBox($noticeColor)

.gallery 
  gallery(2)
.gallery3 
  gallery(3)
.gallery4 
  gallery(4)
.gallery5 
  gallery(5)
.gallery6  
  gallery(6)
.gallery7  
  gallery(7)
.gallery8  
  gallery(8)
.gallery9  
  gallery(9)
.gallery10 
  gallery(10)
.gallery11 
  gallery(11)
.gallery12 
  gallery(12)

.slider
  flexslider()
.carousel
  carousel()
.nav      
  horizontal_navigation()
.nav-light          
  horizontal_navigation($kuler2, $kuler1)
.nav-vertical       
  vertical_navigation()
.nav-vertical-light 
  vertical_navigation($kuler2, $kuler1)


.panes
  div
    padding 1em

/* Navigations */
.navbar
  navbar()
.navigation
  navigation()
.pagination
  pagination()
.tabs
  tabs()

/* Buttons */
.button
  button(#60aae9, white)
  &.success
    button-skin(#aece4e, white)
  &.danger
    button-skin(#e77755, white)
  &.warning
    button-skin(#f4c84f, white)
  &.pale
    button-skin(#edebe8, #555555)
  &.disabled
    cursor: default
    color: white
    background-color: #aaaaaa

.flash
  flash()
  &.warning
    flash-skin(#f3a641)
  &.success
    flash-skin(#aece4e)
  &.error
    flash-skin(#e77755)