/* Button Structure ] */

button($background = $kuler2, $color = white)
  display: inline-block
  padding: 6px 12px
  line-height: 1.3125rem
  -webkit-font-smoothing: antialiased
  border: none
  cursor: pointer
  border-radius: 3px
  button-skin($background, $color)

/* Button Skin ] */

button-skin($background, $color)
  color: $color
  background-color: $background
  &:hover
    color: $color
    background: darken($background, 25%)
    text-decoration: none
  &:active
    background: darken($background, 10%)
    text-decoration: none
