input()
  width: 100%
  display: block
  padding: 5px 10px
  border: 1px solid #e0e0e0
  background: white
  color: $textColor
  outline: none
  box-sizing: border-box
  border-radius(3px)
  transition(border-color 0.5s ease)
  placeholder-color(#cccccc)
  line-height: 1.3125rem
  &:focus
    border-color: #3699d2