/* responsive */

+below(1024px)
  .span-1024-1   
    column(1/12)
  .span-1024-2   
    column(2/12)
  .span-1024-3   
    column(3/12)
  .span-1024-4   
    column(4/12)
  .span-1024-5   
    column(5/12)
  .span-1024-6   
    column(6/12)
  .span-1024-7   
    column(7/12)
  .span-1024-8   
    column(8/12)
  .span-1024-9   
    column(9/12)
  .span-1024-10  
    column(10/12)
  .span-1024-11  
    column(11/12)
  .span-1024-12  
    column(12/12)
  .push-1024-1   
    shift(1/12)
  .push-1024-2   
    shift(2/12)
  .push-1024-3   
    shift(3/12)
  .push-1024-4   
    shift(4/12)
  .push-1024-5   
    shift(5/12)
  .push-1024-6   
    shift(6/12)
  .push-1024-7   
    shift(7/12)
  .push-1024-8   
    shift(8/12)
  .push-1024-9   
    shift(9/12)
  .push-1024-10  
    shift(10/12)
  .push-1024-11  
    shift(11/12)
  .push-1024-12  
    shift(12/12)
  .pull-1024-1   
    shift(-1/12)
  .pull-1024-2   
    shift(-2/12)
  .pull-1024-3   
    shift(-3/12)
  .pull-1024-4   
    shift(-4/12)
  .pull-1024-5   
    shift(-5/12)
  .pull-1024-6   
    shift(-6/12)
  .pull-1024-7   
    shift(-7/12)
  .pull-1024-8   
    shift(-8/12)
  .pull-1024-9   
    shift(-9/12)
  .pull-1024-10  
    shift(-10/12)
  .pull-1024-11  
    shift(-11/12)
  .pull-1024-12  
    shift(-12/12)

+below(768px)
  .span-768-1   
    column(1/12)
  .span-768-2   
    column(2/12)
  .span-768-3   
    column(3/12)
  .span-768-4   
    column(4/12)
  .span-768-5   
    column(5/12)
  .span-768-6   
    column(6/12)
  .span-768-7   
    column(7/12)
  .span-768-8   
    column(8/12)
  .span-768-9   
    column(9/12)
  .span-768-10  
    column(10/12)
  .span-768-11  
    column(11/12)
  .span-768-12  
    column(12/12)
  .push-768-1   
    shift(1/12)
  .push-768-2   
    shift(2/12)
  .push-768-3   
    shift(3/12)
  .push-768-4   
    shift(4/12)
  .push-768-5   
    shift(5/12)
  .push-768-6   
    shift(6/12)
  .push-768-7   
    shift(7/12)
  .push-768-8   
    shift(8/12)
  .push-768-9   
    shift(9/12)
  .push-768-10  
    shift(10/12)
  .push-768-11  
    shift(11/12)
  .push-768-12  
    shift(12/12)
  .pull-768-1   
    shift(-1/12)
  .pull-768-2   
    shift(-2/12)
  .pull-768-3   
    shift(-3/12)
  .pull-768-4   
    shift(-4/12)
  .pull-768-5   
    shift(-5/12)
  .pull-768-6   
    shift(-6/12)
  .pull-768-7   
    shift(-7/12)
  .pull-768-8   
    shift(-8/12)
  .pull-768-9   
    shift(-9/12)
  .pull-768-10  
    shift(-10/12)
  .pull-768-11  
    shift(-11/12)
  .pull-768-12  
    shift(-12/12)

+below(480px)
  .span-480-1   
    column(1/12)
  .span-480-2   
    column(2/12)
  .span-480-3   
    column(3/12)
  .span-480-4   
    column(4/12)
  .span-480-5   
    column(5/12)
  .span-480-6   
    column(6/12)
  .span-480-7   
    column(7/12)
  .span-480-8   
    column(8/12)
  .span-480-9   
    column(9/12)
  .span-480-10  
    column(10/12)
  .span-480-11  
    column(11/12)
  .span-480-12  
    column(12/12)
  .push-480-1   
    shift(1/12)
  .push-480-2   
    shift(2/12)
  .push-480-3   
    shift(3/12)
  .push-480-4   
    shift(4/12)
  .push-480-5   
    shift(5/12)
  .push-480-6   
    shift(6/12)
  .push-480-7   
    shift(7/12)
  .push-480-8   
    shift(8/12)
  .push-480-9   
    shift(9/12)
  .push-480-10  
    shift(10/12)
  .push-480-11  
    shift(11/12)
  .push-480-12  
    shift(12/12)
  .pull-480-1   
    shift(-1/12)
  .pull-480-2   
    shift(-2/12)
  .pull-480-3   
    shift(-3/12)
  .pull-480-4   
    shift(-4/12)
  .pull-480-5   
    shift(-5/12)
  .pull-480-6   
    shift(-6/12)
  .pull-480-7   
    shift(-7/12)
  .pull-480-8   
    shift(-8/12)
  .pull-480-9   
    shift(-9/12)
  .pull-480-10  
    shift(-10/12)
  .pull-480-11  
    shift(-11/12)
  .pull-480-12  
    shift(-12/12)

+below(320px)
  .span-320-1   
    column(1/12)
  .span-320-2   
    column(2/12)
  .span-320-3   
    column(3/12)
  .span-320-4   
    column(4/12)
  .span-320-5   
    column(5/12)
  .span-320-6   
    column(6/12)
  .span-320-7   
    column(7/12)
  .span-320-8   
    column(8/12)
  .span-320-9   
    column(9/12)
  .span-320-10  
    column(10/12)
  .span-320-11  
    column(11/12)
  .span-320-12  
    column(12/12)
  .push-320-1   
    shift(1/12)
  .push-320-2   
    shift(2/12)
  .push-320-3   
    shift(3/12)
  .push-320-4   
    shift(4/12)
  .push-320-5   
    shift(5/12)
  .push-320-6   
    shift(6/12)
  .push-320-7   
    shift(7/12)
  .push-320-8   
    shift(8/12)
  .push-320-9   
    shift(9/12)
  .push-320-10  
    shift(10/12)
  .push-320-11  
    shift(11/12)
  .push-320-12  
    shift(12/12)
  .pull-320-1   
    shift(-1/12)
  .pull-320-2   
    shift(-2/12)
  .pull-320-3   
    shift(-3/12)
  .pull-320-4   
    shift(-4/12)
  .pull-320-5   
    shift(-5/12)
  .pull-320-6   
    shift(-6/12)
  .pull-320-7   
    shift(-7/12)
  .pull-320-8   
    shift(-8/12)
  .pull-320-9   
    shift(-9/12)
  .pull-320-10  
    shift(-10/12)
  .pull-320-11  
    shift(-11/12)
  .pull-320-12  
    shift(-12/12)
