/*! 
 * 
 *  naranju
 *  - docs: https://github.com/tiko2015/naranju
 *  - autor: Jonathan Katz (tiko2015@gmail.com)
 *  - Licencia: The MIT License (MIT)
 *  
*------------------------------------------------------------- */

/* vars */

$backgroundColor = #fff;

$kuler1 = #BF3500;
$kuler2 = #7F2300;
$kuler3 = #FF4700;
$kuler4 = #401200;
$kuler5 = #E54000;

$textColor = #7F655A;
$titleColor = $kuler5;
$lineColor = $kuler1;

$titleFont = 'Open Sans', Helvetica, Arial, sans-serif;

$linkColor     = $kuler5;
$linkColorOver = darken($linkColor, 15%);

$errorColor    = #b34e4d;  
$warningColor  = #c09854;
$noticeColor   = #3986ac;
$successColor  = #458746;

$media = '../';

$layout1024 = "screen and (max-width: 1024px)";
$layout768  = "screen and (max-width: 768px)";
$layout480  = "screen and (max-width: 480px)";
$layout320  = "screen and (max-width: 320px)";
$layout240  = "screen and (max-width: 240px)";

/* fonts */

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600italic,700")

/* imports */
@import "01core/typography.styl";
@import "01core/font.styl"

@import "02extends/buttons.styl";
@import "02extends/grid.styl";
@import "02extends/tooltip.styl";
@import "02extends/font-awesome.styl";

@import "03elements/forms.styl";
@import "03elements/nav.styl";
@import "03elements/slider.styl";
@import "03elements/gallery.styl";
@import "03elements/modal.styl";

@import "04components/buttons.styl";
@import "04components/checkbox.styl";
@import "04components/flashes.styl";
@import "04components/icons.styl";
@import "04components/inputs.styl";
@import "04components/labels.styl";
@import "04components/navbar.styl";
@import "04components/navigation.styl";
@import "04components/pagination.styl";
@import "04components/radio.styl";
@import "04components/select.styl";
@import "04components/tables.styl";
@import "04components/tabs.styl";
@import "04components/textarea.styl";

@import "05layouts/body.styl";
@import "05layouts/header.styl";
@import "05layouts/content.styl";
@import "05layouts/footer.styl";

@import "06widgets/github.styl";

@import "07navigations/header.styl";
@import "07navigations/docs.styl";

@import "08pages/default-all.styl";
@import "08pages/home.styl";

@import "09media/print.styl";