/*! 
 * 
 *  naranju
 *  - docs: https://github.com/tiko2015/naranju
 *  - autor: Jonathan Katz (tiko2015@gmail.com)
 *  - Licencia: The MIT License (MIT)
 *  
*------------------------------------------------------------- */

/* vars */

$backgroundColor = #fff;

$kuler1 = #BF3500;
$kuler2 = #7F2300;
$kuler3 = #FF4700;
$kuler4 = #401200;
$kuler5 = #E54000;

$textColor = #7F655A;
$titleColor = $kuler5;
$lineColor = $kuler1;

$titleFont = 'Open Sans', Helvetica, Arial, sans-serif;
$textFont = 'Open Sans', Helvetica, Arial, sans-serif;

$linkColor     = $kuler5;
$linkColorOver = darken($linkColor, 15%);

$errorColor    = #b34e4d;  
$warningColor  = #c09854;
$noticeColor   = #3986ac;
$successColor  = #458746;

$media = '../';

$layout1024 = "screen and (max-width: 1024px)";
$layout768  = "screen and (max-width: 768px)";
$layout480  = "screen and (max-width: 480px)";
$layout320  = "screen and (max-width: 320px)";
$layout240  = "screen and (max-width: 240px)";

/* fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600italic,700")

/* imports */
@import "nib";
@import "01core/*";
@import "02elements/*";
@import "03components/*";
@import "04vendors/*";
@import "05helpers/*";

@import "06layouts/footer.styl";

@import "07navigations/header.styl";
@import "07navigations/docs.styl";

@import "08pages/home.styl";
@import "08pages/docs.styl";

@import "09media/print.styl";