flash()
  position: relative
  padding: 15px 20px
  background: white
  color: #999999
  border: 1px solid #a5c8e5
  border-radius: 3px
  color: #a5c8e5
  margin-bottom: 1em
flash-skin($color = #a5c8e5)
  border-color: $color
  color: $color