sidenav($color = #5c5c5c, $textColor = #fff) {
  html {
    overflow-x:hidden;
  }
  .sidemenu {
    position:fixed;
    top:0;
    height:100%;
    z-index:999;
    width:244px;
    background:$color;
    left:-244px;
    right:auto;
    z-index: 10;
    border-box();
    inner-shadow(0 -10px 50px #444);
    transition: left 500ms ease-in-out;
    nav { overflow: auto; height: 100%; position: relative;
      ul {
        vertical_navigation($color);
      }
    }
  }
  body:target .sidemenu {
    left:0px;
  }
  body #page {
      position:relative; 
      left:0;
    transition (left 500ms ease-in-out);
  }
  body:target #page{ 
    position:relative; 
    left:244px; 
    width:100%; 
  }
  [href*="#sidemenu"], 
  [href*="#sidemenu"]:focus { 
    outline:none; 
    background: lighten($color, 20%);
    color:#fff;
    border-radius: 0 5px 5px 0;
    size(40px, 40px);
    position:absolute;
    top:10px;
    left:244px;
    line-height:40px;
    text-align:center;
    z-index: 1000;
    &:before {
      mixIconSrc($icon-arrow-right, $textColor, 20px);
      margin:0;
    }
  }
  [href*="#sidemenu"]:hover {
    text-decoration:none;
    background: lighten($color, 15%);
  }
  [href="#sidemenu"] {
    display:block; 
  }
  body:target [href="#sidemenu"], 
  [href="#sidemenuclose"] { 
    display:none; 
  }
  body:target [href="#sidemenuclose"] { 
    display:inline-block; 
    &:before {
      content: $icon-arrow-left;
    }
  }
}