/* user */

user_box()
  background darken(#5c5c5c, 15%)
  padding 1em
  border-bottom 1px solid #696969
  figure
    float left
    background #fff
    border 2px solid #fff
    margin 0 1em 0 0
    display block
    img 
      display block
      size(35px, 35px)
  h4
    margin 0
    color #ddd
    font-size 1.5rem
  p 
    color #fff
    margin 0
    a 
      color #fff
      &:hover
        text-decoration none
        color #ddd