:markdown

  ## Characteristics
  
  - HTML5 y CSS3
  - Responsive or Adaptive based on need. 
  - Configurable. 
  - Built on Stylus so you can develop on Stylus. 
  - Ordained and Extendible
  - No Junk Codes
  - Easy to learn 
  - It includes a JS library for forms, modales, sliders, tooltips tabs and more

  ## JavaScript Resources

  - [jQuery](http://jquery.com/)
  - [jQuery tools](http://jquerytools.org) (incluye: Tabs, Tooltip, Form Tools, Toolbox.)
  - [flexSlider2](http://flexslider.woothemes.com/)
  - [html5shim](http://code.google.com/p/html5shim/)
  - [stylus](http://learnboost.github.io/stylus/)
  - [jeet](http://jeet.gs/)
  - [nib](http://visionmedia.github.io/nib/)
  - [jade](http://jade-lang.com)

  ## Stylus Resources

  - Surround Variables
      - Colors 
      - Sources
      - Path to the Content Directory multimedia (images, letter case, etc.) 
  - [Normalize](http://git.io/normalize).
  - Letter Case included through Google fonts.
  - Horizontal o Vertical form definition.
  - Pack to generate Recurrent Codes. This is like executing functions in CSS.
  - Pre defined Elements.
      - Gallery.
      - Navigation.
      - Image Rotator.

  ## Installation

  **Attention: To be able to use this server, you need to have [nodejs](http://nodejs.org) installed.**


  ##### Dashboard:

      git clone https://github.com/banquito/naranju.git
      cd naranju
      npm install
      grunt build
      grunt server watch

  ##### Navigator: 

      http://localhost:3000

  Run this application on heroku.com:

      heroku apps:create [example]
      git push heroku master
      heroku open

  See it working on [heroku](http://naranju.herokuapp.com)

  If you need help, [click on this link](https://devcenter.heroku.com/articles/getting-started-with-nodejs)
  
  ## How to work with stylus in Naranju

  Please know that this tool should be helpful in implementing your project.

  Therefore, using a structure like Shippets should not intimidate you. You should be able to adapt and customize this tool it to your needs.

  To begin utilizing Shippets, you need to know the structure of the directories.

  Although you will be able to change it to fit your project requirements and needs, you need to understand the structure to be able to modify it.

  Bear in mind that shippets uses a great amount of code shortcuts to make your project easier.

  The goal here is to make the development 

  Easier and generate one CSS for your site.

  #### Structure of Directories:
  <div class="folder">
  - **models** (data files in json format)
  - **views** (jade files)
    - **_layouts** 
      - **includes**
      - **elements**
  - **assets**
    - **js**
    - **stylus** (here is where you find these files.  stylus, is not necessary for production)
      - **01core** (letter case, reset, mixins and other general configurations)
      - **02elements** (specific site element definition)
      - **03components**
      - **04vendors**
      - **05helpers** (stylus libraries to help you  code creating)
      - **06layouts**
      - **07navigations**
      - **08pages**
      - **09media**
  - **dist**
    - **assets**
      - **js** (your scripts)
        - **lib** (tirad party javascript resources)
      - **css**
      - **fonts** (lettercase to be utilized)
      - **img** (image files that are a part of the design)
      - **upload** (content files)
  </div>
  #### Where to begin:

  Start by opening the *'app/assets/stylus/style.styl'* file.

  Here you will find all the files needed for your task, and in their loading sequence.

  For reading purposes, all directories are numbered. Neverthestylus, each task has different requirements, qnd this sequence can be altered based on your needs. 

  If you are not familiar with **stylus** yet, this is a good time to [take a tour](http://styluscss.org/).

  #### Reccommendations

  Use stylus from a local Server. Installing it in any operating system is a simple task.

  ## Jade

  While we are preparing the documentation, you can go to [documentación](http://jade-lang.com/reference/) of [jade](http://jade-lang.com/).
