body.docs
  background $kuler1
  header
    right auto
    left 0
    top 0
    bottom 0
    height 100%
    float none
    position fixed
    background #fff
  
  p, ul
    color #fff
  pre
    background lighten($kuler1, 10%)
    border-left-color $kuler4
    color $kuler4
  a
    color $kuler2
  .folder
    ul
      margin 0.3em 0 0
      padding-left 1.3em
      li
        mixIcon($icon-folder-open)
        list-style none
        margin-bottom .3em
        &:before
          top 8px
          left 0px

  section
    margin 0 20em
    color #fff
    max-width 600px
    min-width 425px
    h1, h2, h3, h4, h5, h6, p, ul, ol, dl
      color #fff
    blockquote
      border-left 5px solid darken($kuler1, 10%)
      margin-left 0
      padding-left 3em
    #slider, 
    #scrollable
      margin 0
    .docs-tabs 
      border-bottom-color $kuler2
      font-size 1.5rem
      background none
      li 
        a
          background none
          color $kuler4
          padding 0.6em 0.6em
          margin 0 1.2em
          font-size 1.5rem
          &:hover, 
          &:focus
            background none
            color $kuler2
            text-decoration none
          &.current,
          &.current:hover
            border none
            border-bottom 3px solid $kuler2
            color $kuler2
            background none
    .pane
      padding 1em 0.5em
      background darken($kuler1, 3%)
      &.code
        font-family monospace, serif
        pre
          background none
          border-left none
          margin 0
    a.btn
      button($kuler4, $kuler5)
      mixIcon($icon-download)
    
    a.btn-git
      button($kuler4, $kuler5)
      mixIcon($icon-github-alt)
    
    +below(4)
      margin 0 2em 0 20em