/* all */

sidenav();

#page
  padding 0 20px
  .wrapper
    clearfix()
    > ul[class*="nav"]
      margin 0 -20px
  footer
    margin 5em 0 0 0
    .nav-footer
      border-top 1px solid $lineColor
      horizontal_navigation(#fff, $linkColor)
      margin 0 -20px
    .legal
      padding 1em 3em
      margin 0 -20px
      font-size 1.2em

#header
  float left
  margin-left 30px
  h1
    color #fff
    display inline-block
    margin 0
    padding 0
    text-shadow 0 1px 1px #39391B
    font-size 2.5rem
    line-height(4.5)
.folder
  ul
    margin 0.3em 0 0
    padding-left 1.3em
    li 
      mixIcon($icon-folder-open)
      list-style none
      margin-bottom.3 em
      &:before
        top 8px
        left 0px
    
