include elements/gallery
include elements/forms
include elements/nav

block vars
    - base_url = './'

doctype html
html(lang="en")
  include includes/head
  body
    block nav
      +nav('nav', global.nav)
    block content
    include includes/foot
