include elements/gallery
include elements/forms
include elements/slider
include elements/nav
doctype html
html(lang="en")
  include includes/head
  body
    
    #page
      .wrapper
        block nav
      block content
      include includes/foot
