include elements/gallery
include elements/forms
include elements/slider
include elements/nav
doctype html
html(lang="en")
  include includes/head
  body#sidemenu
    #sidemenu.sidemenu
      a(href="#sidemenu")
      a(href="#sidemenuclose")
      nav
        aside.user-box
          - if(config.user !== 'null')
            figure
              - if(config.user.image)
                img(src=config.user.image)
            h4= config.user.name
            p= config.user.provider + ' | '
              a(href="#") Signout
        +search_form('#', 'Buscar')

        +nav('', config.nav)
    #page
      .wrapper
        block nav
      block content
      include includes/foot
