extends ../_layouts/default

block vars
  - base_url = '../'

block nav
  +nav('nav', global.nav)
  +nav('nav-light', global.navejemplos)

block content
  .wrapper
    section#content.span7
      h3 Form horizontal
      form.hform
        p: +formInput('text', 'nombre', 'Nombre', '')
        p: +formInput('text', 'email', 'Correo', '')
        p: +formSelect('asunto', 'Pais', [{'name':'Argentina','value':'ar'},{'name':'Brasil','value':'br'}, {'name':'Uruguay','value':'uy'}])
        p: +formTextarea('Mensaje', 'mensaje', '')
        p.checkbox: +formRadio('sexo', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
        p.checkbox: +formCheckbox('info', 'Acepto los términos y condiciones', '1')
        p: button.button-big Enviar
    section#content.span5
      h3 Form vertical
      form.vform
        p: +formInput('text', 'nombrev', 'Nombre', '')
        p: +formInput('text', 'emailv', 'Correo', '')
        p: +formSelect('asuntov', 'Pais', [{'name':'Argentina','value':'ar'},{'name':'Brasil','value':'br'}, {'name':'Uruguay','value':'uy'}])
        p: +formTextarea('Mensaje', 'mensaje', '')
        p.checkbox: +formRadio('sexov', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
        p.checkbox: +formCheckbox('infov', 'Acepto los términos y condiciones', '1')
        p: button.button-big Enviar
  .wrapper
    section.span12
      .flash.error
        span Error:
        |  Reemplaza esta alerta por tu HTML.
      .flash.success
        span Success:
        |  Reemplaza esta alerta por tu HTML.
      .flash.warning
        span Warning:
        |  Reemplaza esta alerta por tu HTML.
      .flash.notice
        span Notice:
        |  Reemplaza esta alerta por tu HTML.
