extends ../_layouts/default

block vars
  - base_url = '../'

block nav
  +nav('nav', global.nav)
  +nav('nav--lighten', global.navejemplos)

block content
  .grid
    section#content.grid__col-1-2.grid__col--tablet.grid__col--mobile
      h3 Form horizontal
      form.form
        p.form__group: +formInput('text', 'nombre', 'Nombre', '')
        p.form__group: +formInput('text', 'email', 'Correo', '')
        p.form__group: +formSelect('asunto', 'Pais', [{'name':'Argentina','value':'ar'},{'name':'Brasil','value':'br'}, {'name':'Uruguay','value':'uy'}])
        p.form__group: +formTextarea('Mensaje', 'mensaje', '')
        p.form__group.form__group--checkbox: +formRadio('sexo', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
        p.form__group.form__group--checkbox: +formCheckbox('info', 'Acepto los términos y condiciones', '1')
        p.form__group.form__group--checkbox: button.button-big Enviar
    section#content.grid__col-1-2.grid__col--tablet.grid__col--mobile
      h3 Form vertical
      form.form.form--vertical
        p.form__group: +formInput('text', 'nombrev', 'Nombre', '')
        p.form__group: +formInput('text', 'emailv', 'Correo', '')
        p.form__group: +formSelect('asuntov', 'Pais', [{'name':'Argentina','value':'ar'},{'name':'Brasil','value':'br'}, {'name':'Uruguay','value':'uy'}])
        p.form__group: +formTextarea('Mensaje', 'mensaje', '')
        p.form__group.form__group--checkbox: +formRadio('sexov', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
        p.form__group.form__group--checkbox: +formCheckbox('infov', 'Acepto los términos y condiciones', '1')
        p.form__group.form__group--checkbox: button.button-big Enviar
  .grid
    section.grid__col
      +search_form('#', 'Buscar')
  .grid
    section.grid__col-1-4.grid__col-1-2--tablet.grid__col--mobile
      .flash.flash--error
        span Error:
        |  Reemplaza esta alerta por tu HTML.
    section.grid__col-1-4.grid__col-1-2--tablet.grid__col-right--tablet.grid__col--mobile
      .flash.flash--success
        span Success:
        |  Reemplaza esta alerta por tu HTML.
    section.grid__col-1-4.grid__col-1-2--tablet.grid__col--mobile
      .flash.flash--warning
        span Warning:
        |  Reemplaza esta alerta por tu HTML.
    section.grid__col-1-4.grid__col-1-2--tablet.grid__col--mobile
      .flash.flash--notice
        span Notice:
        |  Reemplaza esta alerta por tu HTML.
