extends ../_layouts/default

block vars
  - base_url = '../'

block nav
  +nav('nav', global.nav)
  +nav('nav--light', global.navejemplos)

block content
  .wrapper
    section#content.span7
      h3 Form horizontal
      form.form
        p.form__group: +formInput('text', 'nombre', 'Nombre', '')
        p.form__group: +formInput('text', 'email', 'Correo', '')
        p.form__group: +formSelect('asunto', 'Pais', [{'name':'Argentina','value':'ar'},{'name':'Brasil','value':'br'}, {'name':'Uruguay','value':'uy'}])
        p.form__group: +formTextarea('Mensaje', 'mensaje', '')
        p.form__group.form__group--checkbox: +formRadio('sexo', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
        p.form__group.form__group--checkbox: +formCheckbox('info', 'Acepto los términos y condiciones', '1')
        p.form__group.form__group--checkbox: button.button-big Enviar
    section#content.span5
      h3 Form vertical
      form.form.form--vertical
        p.form__group: +formInput('text', 'nombrev', 'Nombre', '')
        p.form__group: +formInput('text', 'emailv', 'Correo', '')
        p.form__group: +formSelect('asuntov', 'Pais', [{'name':'Argentina','value':'ar'},{'name':'Brasil','value':'br'}, {'name':'Uruguay','value':'uy'}])
        p.form__group: +formTextarea('Mensaje', 'mensaje', '')
        p.form__group.form__group--checkbox: +formRadio('sexov', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
        p.form__group.form__group--checkbox: +formCheckbox('infov', 'Acepto los términos y condiciones', '1')
        p.form__group.form__group--checkbox: button.button-big Enviar
  .wrapper
    section.span12
      +search_form('#', 'Buscar')
  .wrapper
    section.span12
      .flash.flash--error
        span Error:
        |  Reemplaza esta alerta por tu HTML.
      .flash.flash--success
        span Success:
        |  Reemplaza esta alerta por tu HTML.
      .flash.flash--warning
        span Warning:
        |  Reemplaza esta alerta por tu HTML.
      .flash.flash--notice
        span Notice:
        |  Reemplaza esta alerta por tu HTML.
