extends ../_layouts/default

block vars
  - base_url = '../'

block nav
  +nav('nav', global.nav)
  +nav('nav--lighten', global.navejemplos)

block content
  .grid
    section#content.grid__col-1-2.grid__col--tablet.grid__col--mobile
      h3 Galeria a 6 columnas
      +gallery(6, gallery)
    section.grid__col-1-2.grid__col--tablet.grid__col--mobile
      h3 Galeria a 4 columnas
      +gallery(4, gallery)