font-face($fontname, $fontpath)
  font-family: $fontname
  src: url($fontpath + 'eot' + '?#iefix') format('embedded-opentype'), 
  url($fontpath + 'woff') format('woff'), 
  url($fontpath + 'ttf') format('truetype'), 
  url($fontpath + 'svg' + '?#' + $fontname) format('svg');
  font-style: normal
  font-weight: normal

font-size(size)
  if unit(1.2em) == 'rem'
    font-size unit(size, 'em')
    font-size size
  else
    font-size size