/* vars */

$backgroundColor = #fff;

$kuler1 = #BF3500;
$kuler2 = #7F2300;
$kuler3 = #FF4700;
$kuler4 = #401200;
$kuler5 = #E54000;

$textColor = #7F655A;
$titleColor = $kuler5;
$lineColor = $kuler1;

$titleFont = 'Open Sans', Helvetica, Arial, sans-serif;
$textFont = 'Open Sans', Helvetica, Arial, sans-serif;

$linkColor     = $kuler5;
$linkColorOver = darken($linkColor, 15%);

$errorColor    = #b34e4d;  
$warningColor  = #c09854;
$noticeColor   = #3986ac;
$successColor  = #458746;

$media = '../';

rupture.scale = 0 400px 600px 800px 1050px;