/* vars */

$titleFont       = 'Open Sans', Helvetica, Arial, sans-serif
$textFont        = 'Open Sans', Helvetica, Arial, sans-serif

$backgroundColor = #fff

$textColor       = #7F655A
$titleColor      = #E54000
$lineColor       = #E54000

$titleColorLight = lighten($titleColor, 15%)
$titleColorDark = darken($titleColor, 15%)
  
$linkColor       = #E54000
$linkColorOver   = darken($linkColor, 15%)

$errorColor      = #b34e4d  
$warningColor    = #c09854
$noticeColor     = #3986ac
$successColor    = #458746


$media = '../'

/* jeet */

jeet.max-width = 960px

/* rupture scale */

rupture.scale = 0 400px 600px 800px 1050px
rupture.anti-overlap = -1px


/* add objects */

$use-debug      = false
$use-reset      = true
$use-font       = true
$use-breadcrumb = true
$use-form       = true
$use-flashes    = true
$use-gallery    = true
$use-helpers    = true
$use-hints      = true
$use-grid       = true
$use-media-box  = true
$use-modal      = true
$use-nav        = true
$use-print      = true
$use-pagination = true
$use-slider     = true
$use-table      = true
$use-tabs       = true