/* fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600italic,700")

/* add objects */

$use-reset      = true
$use-font       = true
$use-breadcrumb = true
$use-form       = true
$use-flashes    = true
$use-gallery    = true
$use-helpers    = true
$use-hints      = true
$use-icons      = true
$use-layout     = true
$use-media-box  = true
$use-modal      = true
$use-nav        = true
$use-print      = true
$use-pagination = true
$use-sidenav    = true
$use-slider     = true
$use-table      = true
$use-tabs       = true

/* import framework */

@import 'naranju-mini'

/* overrite vars */ 

// example: $backgroundColor = red

/* import custom styles */

@import 'custom'
