extends _layouts/default

block content
  section.wrapper
    h1 Naranju
    h2 Front End Integrated Development System
    h3 [nodejs, jade, { stylus: [nib, jeet, rupture]}, sync]
    :markdown
      **As a result of being able to work templates with jade and styles with stylus, we got the urge to create a real time compilator.**

      **Naranju achieves the task and also creates a custom made environment to implement it.**

      **Bottom line, this is a MVC emulator without a controller.**

      **This allows data simulation, its integration to templates, and later on, the inclusion of views and styles to any kind of project.**

      **This is also a generator of stats sites since, as it compiles and shows in real time, it creates html and CSS files that can understand any server such as Apache, Nginx and Microsoft IIS.**

      Debido al interes de poder trabajar los templates con jade y los estilos con stylus, surgió la necesidad de tener un compilador en tiempo real.

      Naranju logra cumplir esta tarea y crear un entorno de desarrollo a medida para la misma.

      En definitiva, es un emulador de MVC pero sin controlador. Esto permite simular los datos, integrarlos al template y luego incluir las vistas y los estilos en cualquier proyecto.

      También es un generador de sitios estáticos, porque a medida que compila y muestra en tiempo real, crea los archivos html y css que entiende cualquier servidor como apache, nginx y hasta Microsoft IIS.
